@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

@media screen and (min-width: 1440px) {

    .card_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 20em;
        max-height: 30em;
        background-color: white;
        border: 1px solid black;
        border-radius: 20px;
        margin: 10em auto 10em;
        padding: 8px;
    }

    .qr_img {
        margin-top: 1em;
        padding: 12px;
    }
    
    .qr_img img {
        width: 100%;
        border-radius: 20px;
    }

    .qr_content {
        text-align: center;
    }

    .qr_content h1 {
        font-weight: 700;
        font-size: 22px;
        color: hsl(218, 44%, 22%);
    }

    .qr_content p {
        margin-left: 1em;
        margin-right: 1em;
        letter-spacing: 0.19px;
        color: #7D889E;
    }

}

@media screen and (min-width: 375px) and (max-width: 1439px) {

    .card_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 20em;
        max-height: 30em;
        background-color: white;
        border: 1px solid black;
        border-radius: 20px;
        margin: 3em auto 3em;
        padding: 8px;
    }

    .qr_img {
        padding: 10px;
    }
    
    .qr_img img {
        width: 100%;
        border-radius: 20px;
    }

    .qr_content {
        text-align: center;
    }

    .qr_content h1 {
        font-weight: 700;
        font-size: 22px;
        color: hsl(218, 44%, 22%);
    }

    .qr_content p {
        margin-left: 1em;
        margin-right: 1em;
        letter-spacing: 0.19px;
        color: #7D889E;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
